<div class="sufee-login d-flex align-content-center flex-wrap">
  <div class="container">
    <div class="login-content">
      <div class="login-logo">
        <a routerLink="/admin/dashboard">
          <img class="align-content" src="assets/images/logo.png" alt="" />
        </a>
      </div>
      <div class="login-form">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label>Surel</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              placeholder=""
            />

            <div
              *ngIf="
                loginForm.invalid &&
                (loginForm.dirty || loginForm.touched) &&
                loginForm.controls['email'].touched &&
                loginForm.controls['email'].errors
              "
              class="invalid-feedback"
            >
              <ng-container *ngIf="loginForm.controls['email'].errors.required">
                Kolom ini wajib diisi
              </ng-container>

              <ng-container *ngIf="loginForm.controls['email'].errors.email">
                Mohon isi dengan format email yang benar
              </ng-container>
            </div>
          </div>

          <div class="form-group">
            <label>Kata sandi</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder=""
            />

            <div
              *ngIf="
                loginForm.invalid &&
                (loginForm.dirty || loginForm.touched) &&
                loginForm.controls['password'].touched &&
                loginForm.controls['password'].errors
              "
              class="invalid-feedback"
            >
              <ng-container
                *ngIf="loginForm.controls['password'].errors.required"
              >
                Kolom ini wajib diisi
              </ng-container>
            </div>
          </div>

          <div class="checkbox">
            <label> <input type="checkbox" /> Ingat Saya </label>
            <label class="pull-right">
              <a routerLink="/admin/password/forgot">Lupa Kata Sandi?</a>
            </label>
          </div>

          <button
            [disabled]="loginForm.pristine || loginForm.invalid"
            type="submit"
            class="btn btn-success btn-flat m-b-30 m-t-30"
          >
            Masuk
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
